<div class="livechatboxx">
    <div class="Vchat_modul">
        <div class="Vchat_modul_h" [ngStyle]="{'background': primaryColor}">
            <h2><span class="online-status"></span>Queries? Tap for answer!</h2>

            <div class="Vc_topic_bar" [ngStyle]="{'background': secondaryColor}">
            	<p>How to buy the product?</p>
            </div>
        </div>

        <div class="Vchat_modul_sec">
            <div class="Vchat_modul_bdy">
            	<div class="Vchat_modul_bdy-iner">
                  
                    <div class="Vchat_set_wrap">
                        <div class="Vchat_set Mymsg">
                            <div class="VchatText">
                                <p>Hello. How may I help you?</p>
                            </div>
                            <div class="Vchat_name">
                                <div class="Vchat_name_text">zaini at 12:10</div>
                            </div>
                        </div>
                    </div>

                    <div class="Vchat_set_wrap">
                        <div class="Vchat_set Ymsg" [ngStyle]="{'background': primaryColor}">
                            <div class="VchatText">
                                <p>I’m Jane, your sample visitor. Let me show you how chats work in LiveChat. Type something in and press enter to send your first chat message. </p>
                            </div>
                            <div class="Vchat_name">
                                <div class="Vchat_name_text">Jane at 12:10</div>
                            </div>
                        </div>
                    </div>
                    <div class="Vchat_set_wrap">
                        <div class="Vchat_set Mymsg">
                            <div class="VchatText">
                                <p>Hello. How may I help you? Let me show you how chats work in LiveChat. Type something in and press enter to send your first chat message</p>
                            </div>
                            <div class="Vchat_name">
                                <div class="Vchat_name_text">zaini at 12:10</div>
                            </div>
                        </div>
                    </div>
                    <div class="Vchat_set_wrap">
                        <div class="Vchat_set Ymsg" [ngStyle]="{'background': primaryColor}">
                            <div class="VchatText">
                                <p>I’m Jane, your sample visitor. Let me show you how chats work in LiveChat. Type something in and press enter to send your first chat message. </p>
                            </div>
                            <div class="Vchat_name">
                                <div class="Vchat_name_text">Jane at 12:10</div>
                            </div>
                        </div>
                    </div>

                   
                </div>

            </div>
            <div class="Vchat_modul_f">
                <textarea placeholder="Type message here..."></textarea><button class="sendmsgbtn"><img src="assets/img/sent-mail.png"></button>
            </div>
        </div>
    </div>
</div>